.bg-darker-blue {
    background-color: #0056B3!important;
}

.inner-container {
    padding: 20px;
}

.search-btn {
    width: 100%;
}


.error-msg {
    color: red;
    font-size: 20px;
}

.table-container {
    padding-top: 10px;
}

.results-line {
    color: green;
    padding-bottom: 10px;
    font-size: 18px;
}

.data-table-hover tbody tr:hover {
    background-color: lightblue;
}